InternetClockGateway/__vm/Upload.vmps.xml
InternetClockGateway/__vm/.InternetClockGateway.vsarduino.h
InternetClockGateway/InternetClockGateway.vcxproj.filters
InternetClockGateway/InternetClockGateway.vcxproj
InternetClockGateway/.vs/InternetClockGateway/v15/.suo
InternetClockGateway/__vm/Configuration.Release.vmps.xml
InternetClockGateway/__vm/Compile.vmps.xml
InternetClockGateway/InternetClockGateway.vcxproj.user
